<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">New Crew
        <small>Available</small>
      </h1>
      <ol class="breadcrumb">
        <%= link_to "Crew", crews_path %>
        </li>
        <li class="active"> \ New Crew</li>
      </ol>
    </div>
  </div>

<div class="row">
  <%= render 'form' %>
</div>

<%= link_to 'Back', crews_path, class: "btn btn-info" %>

  </div>