<%= simple_form_for(@equipment_checkout) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="col-xs-3">
      <%= f.input :return_date %>




      <%= f.button :submit %>
        </div>
    </div>
<% end %>