<div class = "nested-fields">
	<div class = "field">
		<%= f.input :quantity %>
		<%= f.input :service_id %>
	</div>
	<%= link_to_remove_association "Remove LineItems", f,class: "btn btn-danger"%>
	</div>
