<%= simple_form_for(@vehicle_checkout) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="col-xs-3">
      <%= f.input :return_date %>


      <%= f.button :submit %>
    </div>
    </div>
<% end %>