<div class="container">

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">New Project
    </h1>
    <ol class="breadcrumb">
      <%= link_to "Project", projects_path %>
      </li>
      <li class="active"> \ New Project</li>
    </ol>
  </div>
</div>
<div class="row">
  <%= render 'form' %>
</div>
<br>
<%= link_to 'Back', projects_path, class: "btn btn-warning btn-sm" %>

  </div>
