<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">About
        <small>Business Background</small>
      </h1>
      <ol class="breadcrumb">
        <%= link_to "Welcome", welcome_index_path %>
        </li>
        <li class="active"> \ About</li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

<!-- Intro Content -->
<div class="row">
  <div class="col-md-6">
    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
  </div>
  <div class="col-md-6">
    <h2>About Santoyo Tree Service</h2>
    <p>Bibiano Santoyo worked for a tree service company for over ten years but felt like he was not getting paid his worth. After serious thought, Mr. Santoyo decided to put his entrepreneurial abilities to the test and start his own tree service company. In May 2003, he founded Santoyo Tree Service. Santoyo Tree Service performs services such as tree removals, tree maintenance, tree transplants, and stump grinding. There are currently twelve employees working for Mr. Santoyo's small business in the Houston area, but he would like to expand his business through Texas as demand for his services continue to grow.</p>
  </div>
</div>
</div>